
.navbar{
    background-color: white;
    height: 140px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    padding: 0px 100px;
}
.nav{
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
}
.navlink{
    padding: 25px 10px;
}
#active a{
    color: blue;
}
#active{
    border-bottom: 4px solid blue;
}
